<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top mb-2">
  <a class="navbar-brand" href="/">Blogger</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Your Posts', posts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'New Post', new_post_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>