 <div class="row">
  <div class="col-sm-12">
    <h1 class="mt-4 mb-0"><%= @post.title %></h1>
    <small>Posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %></small>

    <%= render partial: "actions", locals: { post: @post } %>

    <hr>
    <!-- Preview Image -->
    <%= image_tag @post.image, class: 'img-fluid rounded' %>
    <hr>

    <%= @post.content %>

    <hr>
    <h5>Comments</h5>

    <%= nested_comments @comments %>
    <%= render "comments/form" %>
  </div>
</div>